<h1>Affichage d'un genre</h1>

<p>
  <strong>Nom:</strong>
  <%= @genre.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genre_path %>
