<h1>Affichage d'un tag</h1>

<p>
  <strong>Nom:</strong>
  <%= @tag.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description%>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tag_path %>
